extends layout

block content
  div(class='white') 
    a(href='#') White cats
  div(class='black') 
    a(href='#') Black cats
  div(class='grey') 
    a(href='#') Grey cats
  div(class='orange')
    a(href='#') Orange cats
  div(class='tabby') 
    a(href='#') Tabby cats
