extends layout

block content
  div(class='catboardlogo')
    h1(class='catboardlogo-header') Cat Boards BBS!

  div(class='white') 
    a(href='boards/whitecats') White cats
  div(class='black') 
    a(href='boards/blackcats') Black cats
  div(class='grey') 
    a(href='boards/greycats') Grey cats
  div(class='orange')
    a(href='boards/orangecats') Orange cats
  div(class='tabby') 
    a(href='boards/tabbycats') Tabby cats
  
  div(class='stats')
    h1 Threads:(count)
    h1 Posts:(count)
